:root
{
    --FuenteHead: 'pt sans', sans-serif;
    --FuenteParrafos: 'Open Sans', Sans-serif;

    --Cafe:#784D3c;
    --Blanco: #e2e2e2da;
    --Negro: #000;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

html
{
    box-sizing: border-box;
    font-size: 62.2%;
}

body
{
    font-family: var(--FuenteParrafos);
    font-size: 2.1rem;
    line-height: 2;
}

                    /*GLOBALES*/
.contenedor
{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a
{
    text-decoration: none;
}

h1, h2,h3
{
    font-family: var(--FuenteHead);
    line-height: 5rem;
}

h1 { font-size: 5.5rem;}
h2 { font-size: 4.5rem;}
h3 { font-size: 2.5rem;}

img
{
    max-width: 100%;
}


                      /*UTILIDADES*/
.no-margin
{
    margin: 0;
}
.no-padding
{
    padding: 0;
}

.centrar-texto
{
    text-align: center;
}


/*HEADER*/
.header
{
    background-image: url(/img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto
{
    color: var(--Blanco);
    text-align: center;
}

.header__texto .nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5rem;
}

.header__texto a
{
    color: var(--Blanco);
    padding-right: 2rem;
}

.header__texto a:hover
{
    transition: .7s;
    color: rgb(158, 93, 7);
    font-weight: 500;
}

.contenido-principal
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
}

.boton
{
    display: block;
    color: white;
    padding: 1.5rem;
    max-width: 20rem;
    border-radius: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 5rem auto;
    cursor: pointer;
}

.boton:hover
{
    background-color: var(--Blanco);
    color: #784D3c;
    transition: 1s;
    border: solid 3px;
}

.boton__1
{
    background-color: var(--Negro);
    
}

.boton__2
{
    background-color: #784D3c;
}

.cursos
{
    list-style: none;
}

.widget-cursos 
{
}
.widget-cursos__label 
{
    font-family: var(--FuenteParrafos);
    font-weight: bold;
}

.widget-curso__info 
{
    font-weight: 100;
}

/*FOOTER*/
#footer
{
    background: var(--Negro);
    width: 100%;
    height: 50%;
}

.footer__1
{
    text-align: center;
    padding: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25rem;

}

.footer__1 a
{
    color: rgba(161, 161, 161, 0.281);
}

.footer__1 a:hover
{
    color: rgb(255, 255, 255);
    transition: .5s;
}

.navegacion__footer
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#footer .h2__footer
{
    color: rgba(194, 191, 191, 0.274);
    font-size: 3rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*
============================================================
                Nosotros
============================================================
*/

.contenedor__nosotros h2
{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido__nosotros
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    margin: 0 15rem 10rem;
}

.contenido__nosotros p
{
    font-size: 1.5rem;
}

.header__nosotros
{
    height: 40rem;
}



/*
============================================================
                Cursos
============================================================
*/

.curso
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    margin-top: 3rem;
}

.curso__label 
{
    font-family: var(--FuenteParrafos);
    font-weight: bold;
}

.curso__info 
{
    font-weight: 100;
}




/*
============================================================
                Contacto
============================================================
*/

.header__contacto
{
    height: 30rem;
}

.contacto__bg
{
    background-image: url(/img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.formulario
{
    background: var(--Blanco);
    margin: -29rem auto 0 auto;
    width: 80%;
    height: 50rem;
    padding: 10rem;
}

.campo
{
    display: flex;
    margin-bottom: 2.8rem;
    gap: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.campo__label
{
    flex: 0 0 9rem;
    text-align: right;
}

.campo__field
{
    flex: 1;
}